body {
    background: rgb(0, 48, 3);
    font: normal 15pt Verdana;
}

h1 {
    font: normal Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}